<%#= See Listing 10.28 %>
<% if signed_in? %>
<%#  http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-grid-system.php %>
<div class="container">

    <!-- Twitter -->
        <%# Left Sidebar %>
        <%#= <div class="col-sm-6 col-md-4 col-lg-3"> %>
            <%= render 'shared/user_info' %>
        <%#= </div> %>
        <%# End of Left Sidebar %>

        <%#= Main %>
        <%# See Listing 10.41 %>
        <%#= <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4"> %>
        <!--====================================================
        END OF MAIN BAR
        ==================================================== -->
            <section id="main-bar">
                <!--====================================================
                OCCUPATION FORM
                ==================================================== -->
                <%# Features that are only availbale to companies)%>
                <% if current_user.company? == true%>
                <section>
                    <h3>Add an Occupation</h3>
                        <%= render 'shared/occupation_form' %> 
                        <%#= render 'shared/skill_form' %>
                </section>        
                <% end %>
                <%# End of features that are only availbale to companies)%>  
                <!--====================================================
                END OF OCCUPATION FORM
                ==================================================== -->       

                <!--====================================================
                JOBS I WANT
                ==================================================== -->
                <section id="split-main-bar" >
                    <h3>Jobs I Want</h3>
                        <% if current_user.friendships.any? %>
                            <% for friendship in current_user.friendships %>
                            <%#= http://stackoverflow.com/questions/296747/whats-the-h-mean-in-h %>
                            <%#= Note user.content refers to occupation.content %>
                                <section>
                                    <p><%= link_to image_tag(friendship.friend.user.image)%></p>
                                    <!-- <p><%=h gravatar_for friendship.friend.user %></p> -->
                                    <%= link_to friendship.friend.content, friendship.friend, :method => :get %>
                                    with
                                    <%= link_to friendship.friend.user.name, friendship.friend.user, :method => :get %> 
                                </section> 
                                <% if current_user.id == friendship.user.id %>
                                    (<%= link_to "remove", friendship, :method => :delete %>)
                                <% end %>
                        <% end %>

                        <% else %>
                            <h4>You havn't added a job you want yet.</h4>
                            <%= link_to "Find an Occupation", occupations_path, class: "btn btn-info"%>
                        <% end %> 
                </section>  
                <!--====================================================
                END OF JOBS I WANT
                ==================================================== --> 

                <!--====================================================
                JOBS I WANT
                ==================================================== -->
                <section id="split-main-bar" >

                <h3>Occupation Feed</h3>
                    <%= render 'shared/feed' %>
                </section>  
                <!--====================================================
                END OF JOBS I WANT
                ==================================================== --> 


            </section>
        <!--====================================================
        END OF MAIN BAR
        ==================================================== -->


 

</div>
  
 

<% else %>
    <%= render 'landingpage' %>
<% end %>
