<%# See Listing 9.24 %>
<h1>All Occupations</h1>

<%# Search Form. http://railscasts.com/episodes/37-simple-search-form%>
<%= form_tag occupations_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%# See Listing 9.33 %>
<%= will_paginate %>

<ul class="occupations">
  <%# See Listing 9.37, this is a block, we change this so we can list the User object (@users) %>
  <%# @occupations.each do |occupation| %>
    <%#= render occupation %>
  <%# end %>
    <%= render @occupations %>
</ul>

<%# See Listing 9.33 %>
<%= will_paginate %>