<%#= Side bar for the image, see Listing 7.14 %>
<div class="row">
  <aside class="span4">
    <section>  
			<h1>
				<%#= See Listing 7.12 %>
			  <%= gravatar_for @occupation.user %>
			  <%= @occupation.user.name %>
        <%= @occupation.id %>
			</h1>
    </section>
  </aside>
	<%#= See Listing 10.17 %>
   <div class="span4">

    <%#= Skills form%>
    <p><%= render 'shared/skill_form' %></p>

    <% if @occupation.skills.any? %>
      <h3>Skills (<%= @occupation.skills.count %>)</h3>
      <%#= This code, which uses the ordered list tag ol, is responsible for generating the list of occupations using the occupation partial%> 
      <ol class="skills">
        <%= render @skills %>
      </ol>
      <%= will_paginate @skills %>
    <% end %>
  </div>