<h1>Sign up</h1>

<%#= Adding form for user sigup, see Listing 7.17 %>
<div class="row">
  <div class="span4 offset3">
  	<%#=  a block with one variable, which we’ve called f for “form %>
    <%= form_for(@user) do |f| %>

    	<%#= Adding form for user sigup, see Listing 7.23 and 10.33%>
    	<%#= Note: shared/ directory is for partials expected to be used in views across multiple controllers. %>
      <%= render 'shared/error_messages', object: f.object %>

			<%#= Adding form for user sigup, see Listing 7.17 %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %> 
     
        <%= f.label :password %>
        <%= f.password_field :password %>
         
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
