<%#= Side bar for the image, see Listing 7.14 %>
    <section id="left-sidebar">
      <section>  
				<%#= See Listing 7.12 %>
          <section>
			     <%#= <p><%= gravatar_for @user %>
           <p><%= image_tag(@user.image)%></p>
          </section> 
          <section>
			     <h3><%= @user.name %></h3>
          </section> 

          <%#= Shows if the company has created Occupation, Skills, Resources %>
          <% if current_user.company? == true%>
            <section>
              <span>
                <p><%= pluralize(current_user.occupations.count, "occupation") %></p>
                <p><%= pluralize(current_user.skills.count, "skill") %></p>
                <p><%= pluralize(current_user.resources.count, "resource") %></p>
              </span>

              <%#= LINKEDIN SHARE BUTTON %>
              <section>
                <script src="//platform.linkedin.com/in.js" type="text/javascript">
                  lang: en_US
                </script>
                <script type="IN/Share"></script>
              </section>
              <%#= END OF LINKEDIN SHARE BUTTON %>

              <%#= FACEBOOK SHARE BUTTON, SEE ALSO APPLICATIONS.HTML.ERB %>
              <section>
                <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"></div>
              </section>  
              <%#= END OF FACEBOOK SHARE BUTTON %>  

            </section>
          <% end %>
          <%#= End of Shows if the company has created Occupation, Skills, Resources %>             

      </section>
    </section>  

  <section id="main-bar">
  <h3>Jobs I Want</h3>
    <% if @user.friendships.any? %>
      <% for friendship in @user.friendships %>
        <%#= http://stackoverflow.com/questions/296747/whats-the-h-mean-in-h %>
        <%#= Note user.content refers to occupation.content %>
        <section>
            <!-- Profile Image -->
           <p><%=h image_tag (friendship.friend.user.image) %></p>
           <!-- <p><%=h gravatar_for friendship.friend.user %></p> -->
          <%= link_to friendship.friend.content, friendship.friend, :method => :get %>
            with
          <%= link_to friendship.friend.user.name, friendship.friend.user, :method => :get %> 
        </section> 
        
        <% if current_user.id == friendship.user.id %>
          (<%= link_to "remove", friendship, :method => :delete %>)
        <% end %>

      <% end %>

      <% else %>
        <h4>You havn't added an Occupation yet.</h4>
        <%= link_to "Find an Occupation", occupations_path, class: "btn btn-info"%>
    <% end %>  


	<%#= See Listing 10.17 %>
    <% if @user.occupations.any? %>
      <h3>Occupations (<%= @user.occupations.count %>)</h3>
      <%#= This code, which uses the ordered list tag ol, is responsible for generating the list of occupations using the occupation partial%> 
      <li class="occupations">
        <%= render @occupations %>
      </li>
      <%= will_paginate @occupations %>
    <% end %>

  </section>

