<%#= Side bar for the image, see Listing 7.14 %>
<div class="row">
  <aside class="span4">
    <section>  
			<h1>
				<%#= See Listing 7.12 %>
			  <%= gravatar_for @user %>
			  <%= @user.name %>
			</h1>
    </section>
  </aside>
	<%#= See Listing 10.17 %>
   <div class="span4">
    <% if @user.occupations.any? %>
      <h3>Occupations (<%= @user.occupations.count %>)</h3>
      <%#= This code, which uses the ordered list tag ol, is responsible for generating the list of occupations using the occupation partial%> 
      <ol class="occupations">
        <%= render @occupations %>
      </ol>
      <%= will_paginate @occupations %>
    <% end %>
  </div>

    <%#= See Listing 10.17 %>
   <div class="span4">
    <% if @user.skills.any? %>
      <h3>Skills (<%= @user.skills.count %>)</h3>
      <%#= This code, which uses the ordered list tag ol, is responsible for generating the list of occupations using the occupation partial%> 
      <ol class="skills">
        <%= render @skills %>
      </ol>
      <%= will_paginate @skills %>
    <% end %>
  </div>

    <%#= See Listing 10.17 %>
   <div class="span4">
    <% if @user.resources.any? %>
      <h3>Resources (<%= @user.resources.count %>)</h3>
      <%#= This code, which uses the ordered list tag ol, is responsible for generating the list of occupations using the occupation partial%> 
      <ol class="resources">
        <%= render @resources %>
      </ol>
      <%= will_paginate @resources %>
    <% end %>
  </div>

</div>