<!--====================================================
SIDE BAR
==================================================== -->
<section>  
  <section id="left-sidebar">
    <%#= See Listing 7.12 %>
    <%#= Side bar for the image, see Listing 7.14 %>
    <h3>Skills for <%= @skill.occupation.content %> </h3>
    <%#= See Listing 7.12 %>
    <h4>Skill: <%= @skill.content %></h4>

    <span class="content">
      <%= link_to "I want this job!", friendships_path(:friend_id => @skill.occupation), :method => :post %>
    </span>

    <p><%= pluralize(@skill.occupation.friendships.count, "other " 'person' " wants this job") %></p>

  <%#= See Listing 10.17 %>
   <%#=  Add a skill  </span> %>

    <h3>Added by:</h3>
      <section><%= gravatar_for @skill.user %></section>
        <h4><%= @skill.user.name %></h4>
        <span>
          <%= link_to "view my profile", @skill.user %>
        </span>
  </section>
</section>
<!--====================================================
END OF SIDE BAR
==================================================== -->   

<!--====================================================
MAIN BAR
==================================================== -->
<section id="main-bar">
  <!--====================================================
  RESOURCES
  ==================================================== -->   
    <%#= Skills form%>
    <% if current_user.id == @skill.user_id %>
      <p><%= render 'shared/resource_form' %></p>
    <% end %>  

    <% if @skill.resources.any? %>
      <h3>Resourcess (<%= @skill.resources.count %>)</h3>
      <%#= This code, which uses the ordered list tag ol, is responsible for generating the list of occupations using the occupation partial%> 
      <ol class="resources">
        <%= render @resources %>
      </ol>
      <%= will_paginate @resources %>
    <% end %>
  <!--====================================================
  END OF RESOURCES
  ==================================================== -->   
</section>  
<!--====================================================
END OF MAIN BAR
==================================================== --> 