<%#= Side bar for the image, see Listing 7.14 %>
<div class="row">
  <aside class="span4">
    <section>  
			<h1>
				<%#= See Listing 7.12 %>
        <%= @skill.content %>
			  <%= gravatar_for @skill.user %>
			  <%= @skill.user.name %>
			</h1>
    </section>
  </aside>
	<%#= See Listing 10.17 %>
   <div class="span4">

    <%#= Skills form%>
    <% if current_user.id == @skill.user_id %>
      <p><%= render 'shared/resource_form' %></p>
    <% end %>  

    <% if @skill.resources.any? %>
      <h3>Resourcess (<%= @skill.resources.count %>)</h3>
      <%#= This code, which uses the ordered list tag ol, is responsible for generating the list of occupations using the occupation partial%> 
      <ol class="resources">
        <%= render @resources %>
      </ol>
      <%= will_paginate @resources %>
    <% end %>
  </div>