<%= form_for(@occupation) do |f| %>
	<%= hidden_field_tag :occupation_id, value = @occupation.id %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Add an occupation..." %>
  </div>
  <%= f.submit 'Post', class: "btn btn-large btn-primary" %>
<% end %>