<!DOCTYPE html>
<html>
<head>
  <title>Mntr Me</title>
  <%#= These next 3 lines prevents cross-site request forgery (CSRF), a type of malicious web attack. %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= Prevents attacks, see Chapter 3 of Hartl book %>
  <%= csrf_meta_tags %>

  <%#= Added from Bootstrap Templates, 25-Aug-14 %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <%#= for Mobile First, http://getbootstrap.com/css/%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dialog</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">  
    <!-- From Landing Page Code, http://startbootstrap.com/template-overviews/landing-page/, 27th July 2014 -->
    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


  <%= render 'layouts/shim' %>

</head>
<body>

		<%#= header %>
    <%= render 'layouts/header' %>

		<%#= the container class has special meaning to Bootstrap %>
    <div class="container">
      <%#= See Listing 7.27 %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
			<%#= yield is responsible for inserting the contents of each page into the layout, see Listing 3.26 %>
			 <%= yield %>
      <%#= header %>
      <%= render 'layouts/footer' %>
      <%#= See Listing 7.1 %>
       <!-- This creates a debug console at the bottom of the page -->
      <%#= debug(params) if Rails.env.development? %>

</body>
</html>

