<!DOCTYPE html>
<html>
<head>
  <title>Mntr Me</title>
  <%#= These next 3 lines prevents cross-site request forgery (CSRF), a type of malicious web attack. %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <%= render 'layouts/shim' %>

</head>
<body>

		<%#= header %>
    <%= render 'layouts/header' %>

		<%#= the container class has special meaning to Bootstrap %>
    <div class="container">
      <%#= See Listing 7.27 %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
			<%#= yiled is responsible for inserting the contents of each page into the layout, see Listing 3.26 %>
			<%= yield %>
      <%#= header %>
      <%= render 'layouts/footer' %>
      <%#= See Listing 7.1 %>
      <%= debug(params) if Rails.env.development? %>

</body>
</html>

